
<h1>Checkout</h1>


<div class="event-time-date d-flex align-items-center mt-4 p-3 bg-body-secondary justify-content-between">
  <div class="fw-bold">
    <h4 class="card-title"><strong><%= @event.name %></strong></h4>
    <p class="card-text">
      <%= link_to "<i class='fa-solid fa-masks-theater'></i> #{@event.venue.name}".html_safe, venue_path(@event.venue), class: "btn btn-primary smaller-button rounded-pill" %>
    </p>
    <p class="mb-0"> <%= @event.venue.location %> </p> <!-- we can change laither that to a link to map card -->
    <p class="mb-0"> <%= @event.date.strftime("%A, %d %B %Y") %> </p>
    <p class="mb-0">@ <%= @event.time.strftime("%I:%M %p") %> </p>
  </div>
</div>

<div class="d-flex align-items-center mt-4 p-3 bg-body-secondary justify-content-between">
  <div class="fw-bold">
    <% if @event.discounts.last.try(:new_price).nil? %>
      <p class="mb-0">REGULAR PRICE <%= @event.price %>€ </p>
    <% else %>
      <p class="mb-0">REGULAR PRICE <%= @event.price %>€ </p>
      <p class="mb-0">LAST-MINUTE SAVINGS <%= @event.discounts.last.try(:new_price) %>€ </p>
      <p class="mb-0">FINAL PRICE <%= @booking.paid_price %>€ </p>
    <% end %>
  </div>
</div>

<%= simple_form_for [@event, @booking] do |f| %>
  <%= f.submit class: "btn btn-success mt-3 lh-lg w-100" %>
<% end %>
