<div id="carouselEventsHome" class="carousel slide">
  <div class="carousel-inner">
    <% @events.each_with_index do |event, index|%>
      <div class="carousel-item <%= index == 0 ? "active" : "" %>">
        <img src="<%=event.image%>" class="d-block w-100" alt="<%=event.image%> picture">
        <div class="carousel-caption d-md-block">
          <h5><%=event.name %></h5>
          <p><%= event.description %></p>
          <p><%= event.date %></p>
          <p><%= event.price %></p>
        </div>
      </div>
    <% end %>
 </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventsHome" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselEventsHome" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
