<a class="card-click" href="<%= event_path(event) %>">
<div class="event-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=event.image%>)">
  <div class="event-card-info">
    <div class="event-card-text">
      <h5><%=event.name %></h5>
    <% if event.discounts.any? %>
       <div class="first-line"><i class="fa fa-calendar"></i> <%= event.date.strftime("%d.%m.%Y") %> | <i class="fa fa-clock"></i> <%= event.time.strftime("%I:%M %p") %></div>
       <div class="second-line"><del><%= event.price %></del> - <%= event.discounts.last.new_price %> <i class="fa-solid fa-euro-sign"></i> <%= event.discounts.last.title %></div>
    <% else  %>
       <div class="first-line"><i class="fa fa-calendar"></i> <%= event.date.strftime("%d.%m.%Y") %> | <i class="fa fa-clock"></i> <%= event.time.strftime("%I:%M %p") %></div>
       <div class="second-line"><%= event.price%><i class="fa-solid fa-euro-sign"></i></div>
    <% end %>
    </div>
  </div>
</div>
</a>
