
<div class="card mb-3 card-horizontal">
  <div class="row">
    <div class="col-sm-8 d-flex justify-content-center align-items-center pv-4 px-0">

      <%= cl_image_tag event.photos.first.key, class: "img-fluid rounded-start", alt:"Event image" %>


    </div>
    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title"><%= event.name %></h5>
        <p class="card-text">
          <%= link_to "<i class='fa-solid fa-masks-theater'></i> #{event.venue.name}".html_safe, venue_path(event.venue), class: "btn btn-info shadow smaller-button rounded-pill" %>
        </p>
        <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= event.venue.location %></p> <!-- we can change laither that to a link to map card -->
        <p class="card-text italic-text"><%= event.description %></p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fa fa-calendar"></i> <%= event.date.strftime("%d.%m.%Y") %> | <i class="fa fa-clock"></i> <%= event.time.strftime("%I:%M %p") %> | <i class="fa-solid fa-euro-sign"></i> <%= event.price %>
            <span style="float: right;"><%= link_to '<i class="fa fa-eye"></i> Show'.html_safe, event_path(event), class: 'btn btn-info shadow smaller-button rounded-pill' %></span>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
