

  <div class="d-flex justify-content-between align-items-center p-2">
    <span>
      <%= link_to "<– Back", events_path, class: "justify-content-start btn btn-dark rounded-pill" %>
    </span>



  </div>



  <div class="event-info ">

    <div class="event-head text-center">
      <div class="banner d-flex justify-content-center align-items-center"

        style="
        height: 300px;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
        url(<%= cl_image_path @event.photos.first.key %>)">



        <div class="banner-txt">
          <h1 class="fw-bold text-white mb-3"> <%= @event.name %> </h1>
          <%= link_to "buy for $#{ @event.price }", new_event_booking_path(@event), class: "btn btn-dark fs-4 rounded-pill border border-light-subtle" %>
        </div>
      </div>
    </div>

    <div class="event-time-date d-flex align-items-center mt-4 p-3 bg-body-secondary justify-content-between">
      <div class="fw-bold">
        <p class="mb-0"> <%= @event.date.strftime("%A, %d %B %Y") %> </p>
        <p class="mb-0">@ <%= @event.time.strftime("%I:%M %p") %> </p>
      </div>

      <p class="mb-0"> <%= link_to @event.venue.name, venue_path(@event.venue), class: "text-dark" %> </p>

    </div>


    <div class="event-txt px-4">
      <h5 class="mt-5 fw-bold">Event description</h5>
      <p> <%= @event.description %> </p>
      <h5 class="mt-4 fw-bold">Category</h5>
      <p> <%= @event.category %> </p>
      <h5 class="mt-4 fw-bold">About the Organization</h5>
      <p> <%= @event.venue.name %> is a place for open-minded, friendly and ready to have fun personalities. The event will take place here : <%= @event.venue.location %> </p>
    </div>

    <div class="venue-links d-flex justify-content-center mt-4">
      <%= link_to "Edit", edit_event_path, class: "btn btn-warning rounded-0" %>

      <%= link_to "Delete",
        event_path(@event),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-secondary rounded-0"
      %>
    </div>

  </div>


</div>
