<div class="container">
<%= link_to "<- Back", root_path, class: "d-flex justify-content-start btn btn-secondary" %>
  <div class="event-info ">


    <div class="event-head text-center">
      <h1 class="fw-bold"> <%= @event.name %> </h1>
      <a class="btn btn-dark fs-4 rounded-pill" href="">Buy for $<%= @event.price %></a>
    </div>


    <div class="event-time-date d-flex align-items-center mt-2 p-3 bg-body-secondary justify-content-between">
      <div class="fw-bold">
        <p> <%= @event.date %> </p>
        <p>@ 20:30</p>
      </div>

      <p> <%= @venue.name %> </p>

    </div>

    <p class="mt-5">Event description</p>
    <p> <%= @event.description %> </p>
    <p> <%= @event.category %> </p>

  </div>

<%# <%= link_to "Edit", edit_event_path, class: "btn btn-warning" %>

<%= link_to "Delete",
  event_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
  class: "btn btn-secondary"
%>

</div>
